button {
  cursor: pointer;
}


@keyframes dropSlideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-dropSlideDown {
  animation: dropSlideDown 100ms ease-out;
}